extends layout

block content

  h1= title
  p.timer 0:00

  div(class="player1")
    h2 player 1
    div#battlefield1


  div(class="player2")
    h2 player 2
    div#battlefield2



  script(src="/js/my-scripts.js")





